<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{currentEvent?.name}} Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row padding>
    
 
  </ion-row>
  <ion-card>
    <ion-card-header>
    <h1>{{currentEvent?.name}}</h1> 
    </ion-card-header>
    <ion-card-content>
       <img src={{currentEvent?.picture}} >
        <button ion-button color="danger"(click)="removeItem(currentEvent?.id)"><ion-icon name="trash"></ion-icon>Delete</button>
    </ion-card-content>
  </ion-card>


</ion-content>