<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center; font-weight: lighter;">
      My Plants
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="goToCreate()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>


 <ion-list>
    <ion-card *ngFor="let event of eventList" (click)="goToEventDetail(event.id)">
      <ion-item-sliding>
       <ion-item>
      <h1>{{event?.name}}</h1>
      <h3>{{event?.notifyTime}}</h3>
 <ion-thumbnail item-left>
      <img src={{event?.picture}} >
  </ion-thumbnail>    
      </ion-item>
      
     <ion-item-options>
      <button ion-button color="danger"(click)="removeItem(event.id)"><ion-icon name="trash"></ion-icon>Delete</button>
    </ion-item-options>
  </ion-item-sliding>

    </ion-card>
  </ion-list>

</ion-content>
