<ion-header>
  <ion-navbar color="primary">
    <ion-title>New Plant</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
  <ion-item>
    <ion-label>Plant Name</ion-label>
    <ion-input [(ngModel)]="eventName" type="text" placeholder="">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Remind me at </ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange($event)"></ion-datetime>
  </ion-item>

  <ion-item>
      <ion-label>On these days</ion-label>
  </ion-item>

  <ion-item *ngFor="let day of days">
      <ion-label>{{day.title}}</ion-label>
      <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
  </ion-item>
</ion-list>
  <button ion-button color="primary" block (click)="takePicture()">
          Take a Picture
        </button>
  <button ion-button block (click)="addNotifications(eventName); createEvent(eventName, guestPicture);">
    Add
  </button>
</ion-content>