page-signup {

.button1 {
 
  background:#62d080;
  color: #FFF;
    margin: 0 auto;
    width: 100%;
    height: 55px;
    display: inline-block;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}

  form {
    margin-bottom: 32px;
    button { margin-top: 20px; }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label { margin-left: 5px; }

  ion-input { padding: 5px; }

  .invalid { border-bottom: 1px solid #FF6153; }

  .error-message .item-inner { border-bottom: 0 !important; }
}
